.dropdown-toggle::after {
    display: inline;
    margin-left: 0em;
    vertical-align: 0em;
    content: "";
    border-top: 0em solid;
    border-right: 0em solid transparent;
    border-bottom: 0;
    border-left: 0em solid transparent;
}

.vs__dropdown-toggle {
	padding: 3px 0 6px !important;
}

.form-group label {
    font-weight: bold;
}

.no_bold {
    font-weight: 400 !important;
}

.checkbox.checkbox-css label {
    margin-bottom: .7rem !important;
}

.c-pointer {
    cursor: pointer;
}

.circle-icon {
    background: #ffc0c0;
    padding:10px;
    border-radius: 50%;
}

/********* IMAGE *************************/

.containerImage {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-bottom: 1rem;
}

.containerImage > .imageLoad {
    display: flex;
    height: 130px;
    width: 130px;
    margin: .2rem;
    position: relative;
    order: 2;
    align-items: center;
    justify-content: center;
    background-color: #EEE;
    border: 1px solid silver;
}

.containerImage > .imageLoad > .imagePrincipal {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: black;
}

.containerImage > .imageLoad > .actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    background-color: rgba(256,256,256,.85);
}

/********* V-SELECT PERSONALIZADO ********/

.clear-none .vs__clear {
    display: none;
}

.is-invalid > .vs__dropdown-toggle, .is-invalid > .vs__actions > .vs__open-indicator {
    border-color: #ff5b57!important;
}

.v-select-min .vs__search {
    padding: 0!important;
}

.v-select-min.vs--single.vs--open .vs__selected {
    position: relative!important;
}

.v-select-min .vs__dropdown-menu {
    min-width:47px!important;
}

.v-select-min .vs__dropdown-menu {
    min-width:47px!important;
}

.v-select-min .vs__dropdown-option {
    padding-left: 8px!important;
}


/********* DATEPICKER PERSONALIZADO ********/

.datepicker-min > .vdp-datepicker__calendar {
    width: auto!important;
}

/********** INPUTS ***********************/

.vs__selected-options > input::placeholder { /* Firefox, Chrome, Opera */ 
    color: #777777; 
} 
  
.vs__selected-options > input:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #777777; 
} 
  
.vs__selected-options > input::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #777777; 
} 

/********** IMAGE ************************/

.image > img {
    float: left;
    width: 30px;
    height: 30px;
    margin: -5px 10px -5px 0;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

/********** BACKGROUND COLORS ************/

.panel.panel-info>.panel-heading {
    background-color: #49b6d6!important;
    color: #fff;
}

/********** SEPARADOR *******************/

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}