<template>
	<div>
		<alertas :success="success" :error="error"></alertas>
		<panel type="form">
			<template slot="header">
				Editar acción {{ data.nombre }} | {{ menu.nombre }}
			</template>

            <template slot="main">
               <div class="row">
               		<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<label>Nombre</label>
						<input type="text" class="form-control" v-model="data.nombre" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<label>Acción</label>
						<input type="text" class="form-control" v-model="data.accion" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<label>Orden</label>
						<input type="text" class="form-control" v-model="data.orden" />
               		</div>
               		<div class="form-group col-xs-12 col-sm-6 col-md-12 col-lg-12">
						<label>Descripción</label>
						<input type="text" class="form-control" v-model="data.descripcion" />
               		</div>
           		</div>
            </template>

            <template slot="footer">
            	<button class="btn btn-success btn-sm" :disabled="inhabilitarGuardar" @click="guardar()">
            		Guardar
            	</button>
				<a :href="url.current" class="btn btn-secondary btn-sm">Volver</a>
            </template>
        </panel>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				error: [],
				success: [],
				url: {
                    current: this.$root.base_url + '/sistema/secciones/' + this.$route.params.idSeccion + '/menus/'+ this.$route.params.idMenu + '/acciones',
                    permisos: {},
                },
				data: {
					nombre: null,
					accion: null,
					orden: null,
					descripcion: null,
				},
				menu: {
					nombre: null
				}
			}
		},
		mounted() {
        	this.iniciar();
        },
        computed: {
        	inhabilitarGuardar: function() {
        		return !(
        			this.data.nombre 
        			&& this.data.accion
        			&& this.data.orden
        		);
        	},
        },
		methods: {
			limpiarMensajes() {
				this.success = [];
				this.error = [];
			},
			iniciar() {
				this.limpiarMensajes();
				let load = loading(this);

				let request = new FormData;
				request.append('id', this.$route.params.id);
				request.append('menu_id', this.$route.params.idMenu);

				axios.post(this.url.current + '/editar', request)
				.then(response => {
					this.data = response.data.accion;
					this.menu = response.data.menu;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					 load.hide();
				})
			},
			guardar() {
				this.limpiarMensajes();
				let load = loading(this);

				let request = new FormData;
				request.append('id', this.$route.params.id);
				request.append('menu_id', this.$route.params.idMenu);
				this.data.nombre && request.append('nombre', this.data.nombre);
				this.data.accion && request.append('accion', this.data.accion);
				this.data.orden && request.append('orden', this.data.orden);
				this.data.descripcion && request.append('descripcion', this.data.descripcion);

				axios.post(this.url.current + '/actualizar', request)
				.then(response => {
					this.success = response.data.success;
				})
				.catch(error => {
					this.error = this.$root.arrayResponse(error);
				})
				.finally(() => {
					 load.hide();
				})
			},
		}
	}
</script>